.kiko {
  &__background {
    background-image: url("../../public/images/all_bg_3.png");
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    display: block;
  }
  &__video-wrapper {
    position: relative;
    height: 110vh;
    width: 100%;
  }
  &__news {
    background-image: url("../../public/images/all_bg_3.png");
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    display: block;
  }
  &__follow {
    background-image: linear-gradient(to bottom, var(--blue-aqua), #151200);
  }
}

.scroller {
  max-width: 850px;
  outline: 3px solid lime;
  margin: 0 auto;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  --webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller-inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.scroller-inner {
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  flex-wrap: wrap;
}
.tag-list {
  margin: 0;
  padding-inline: 0;
  & li {
    background-color: black;
    border-radius: 0.5rem;
    padding: 10px 20px;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

:global(.swiper) {
  width: 100%;
  height: 100%;
}

:global(.swiper-slide) {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

:global(.swiper-slide img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:global(.swiper-pagination-bullet) {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

:global(.swiper-pagination-bullet-active) {
  color: #fff;
  background: #007aff;
}
